<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>공지사항 작성</title>
</head>
<body>
<div>
    <form action="/notice/write" method="post">
    <table>
        <tr>
            <td>제목</td>
            <td><input th:type="text" name="noticeTitle"></td>
        </tr>
        <tr>
            <td>내용</td>
            <textarea name="noticeContent"></textarea>
        </tr>
        <tr>
            <td>중요</td>
            <td>

            </td>
        </tr>
    </table>
        <fieldset>
            <input type="radio" name="noticeImportant" th:value="N" id="impoZero"><label for="impoZero">일반공지</label>
            <input type="radio" name="noticeImportant" th:value="Y" id="impoOne"><label for="impoOne">중요공지</label>
        </fieldset>
        <button type="submit">작성</button>
    </form>
</div>
</body>
</html>